<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <div class="container">
    <a class="navbar-brand d-flex align-items-center text-uppercase" routerLink="" routerLinkActive="active">
      <i class="fa fa-tint fa-2x"></i>&nbsp;
      Fullstack
    </a>
    <form ngNoForm class="form-inline my-2 my-lg-0" action="busca" method="GET">
      <input name="q" class="form-control mr-sm-2" type="text" placeholder="Busca por um veículo" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
